client/src/main/resources/META-INF/wsdl/UserService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://metteo.github.io/ws/user" name="UserService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://metteo.github.io/ws/user" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://metteo.github.io/ws/user" schemaLocation="UserService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createUser">
    <part name="parameters" element="tns:createUser"/>
  </message>
  <message name="createUserResponse">
    <part name="parameters" element="tns:createUserResponse"/>
  </message>
  <message name="UserFaultException">
    <part name="fault" element="tns:UserFaultException"/>
  </message>
  <message name="findUser">
    <part name="parameters" element="tns:findUser"/>
  </message>
  <message name="findUserResponse">
    <part name="parameters" element="tns:findUserResponse"/>
  </message>
  <message name="findAllUsers">
    <part name="parameters" element="tns:findAllUsers"/>
  </message>
  <message name="findAllUsersResponse">
    <part name="parameters" element="tns:findAllUsersResponse"/>
  </message>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser"/>
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse"/>
  </message>
  <message name="deleteUser">
    <part name="parameters" element="tns:deleteUser"/>
  </message>
  <message name="deleteUserResponse">
    <part name="parameters" element="tns:deleteUserResponse"/>
  </message>
  <portType name="UserEndpoint">
    <operation name="createUser">
      <input wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/createUserRequest" message="tns:createUser"/>
      <output wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/createUserResponse" message="tns:createUserResponse"/>
      <fault message="tns:UserFaultException" name="UserFaultException" wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/createUser/Fault/UserFaultException"/>
    </operation>
    <operation name="findUser">
      <input wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/findUserRequest" message="tns:findUser"/>
      <output wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/findUserResponse" message="tns:findUserResponse"/>
      <fault message="tns:UserFaultException" name="UserFaultException" wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/findUser/Fault/UserFaultException"/>
    </operation>
    <operation name="findAllUsers">
      <input wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/findAllUsersRequest" message="tns:findAllUsers"/>
      <output wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/findAllUsersResponse" message="tns:findAllUsersResponse"/>
      <fault message="tns:UserFaultException" name="UserFaultException" wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/findAllUsers/Fault/UserFaultException"/>
    </operation>
    <operation name="updateUser">
      <input wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/updateUserRequest" message="tns:updateUser"/>
      <output wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/updateUserResponse" message="tns:updateUserResponse"/>
      <fault message="tns:UserFaultException" name="UserFaultException" wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/updateUser/Fault/UserFaultException"/>
    </operation>
    <operation name="deleteUser">
      <input wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/deleteUserRequest" message="tns:deleteUser"/>
      <output wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/deleteUserResponse" message="tns:deleteUserResponse"/>
      <fault message="tns:UserFaultException" name="UserFaultException" wsam:Action="http://metteo.github.io/ws/user/UserEndpoint/deleteUser/Fault/UserFaultException"/>
    </operation>
  </portType>
  <binding name="UserPortBinding" type="tns:UserEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserFaultException">
        <soap:fault name="UserFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="findUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserFaultException">
        <soap:fault name="UserFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAllUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserFaultException">
        <soap:fault name="UserFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserFaultException">
        <soap:fault name="UserFaultException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UserFaultException">
        <soap:fault name="UserFaultException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="UserService">
    <port name="UserPort" binding="tns:UserPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

