client/src/jaxws/resources/META-INF/wsdl/UserService_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://example.com/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="Element_2_0">
    <xs:sequence/>
    <xs:attribute name="value1" type="xs:string"/>
    <xs:attribute name="value2" type="xs:string"/>
  </xs:complexType>
</xs:schema>

